* {
  background: repeating-linear-gradient(rgb(255, 255, 240), #fffff0 20px, #000 21px);

}

.home_profile{

  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: auto;
  box-shadow: 20px 10px 10px rgb(156, 152, 152);
  border-radius: 3%;

}


.home_img{
  
  object-fit: contain;
  width: 400px;
  border-radius: 70%;
}


.profile_name{

  margin: 5px;
  font-weight: bold;

}

.profile_major{
  margin: 5px;
  font-weight: 300;

}

.profile_introduce{

  margin: 5px;
  font-weight: 150;

}