* {
  margin: 0px;
  /* background: repeating-linear-gradient(rgb(255, 255, 240), #fffff0 20px, #000 21px); */

}

.home_profile{

  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  box-shadow: 20px 10px 10px rgb(156, 152, 152);
  border-radius: 3%;
}

.home_Todo{

  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  box-shadow: 20px 10px 10px rgb(156, 152, 152);
  border-radius: 3%;
}

.home_projects{

  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  box-shadow: 20px 10px 10px rgb(156, 152, 152);
  border-radius: 3%;
}
.home_img{
  
  margin-top:20px;
  object-fit: contain;
  width: 400px;
  border-radius: 70%;
}


.profile_name{

  display: inline-block;
  margin:3px;
  font-weight: bold;

}

.profile_major{

  display: inline-block;
  margin: 18px;
  font-weight: 300;
}

.profile_introduce{

  display: inline-block;
  font-weight: 150;
  margin-bottom: 20px;

}